@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.navbar {
    background-color: rgba(100,121,40,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin__top {
    background-color: gainsboro;
    height: 100vh;
}

.signin__box {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    flex-direction: column;
    padding: 60px 20px;
}

.signin__p {
    margin: 30px 0;
    font-size: 19px;
} */